  {{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}
<div class=" mobile-margin col-lg-12 col-md-12 col-sm-12 col-xs-12">
<main id="home" class="main" role="main">

	<!-- start: .center -->
		<!-- start: .carousel
		<section >
			<h3 class="title bordered"></h3>
			<div class="container">

			<div  class="owl-carousel owl-responsive-1 center">

				{{#foreach posts limit="6"}}
				{{#if image}}
							<div id="featured-posts-list">

						<a href="{{url}}" class="thumb hover-effect">
							<img src="{{image}}" style="">
						</a>
					</div>


				{{/if}}
			{{/foreach}}

		</div>
	</div>
		</section>
	-->
		<!-- end: .carousel -->
		<!-- start: .left-content -->

		<div class="section articles row ">

			<div class="col-lg-12 col-sm-12 col-xs-12">
			{{#foreach posts limit="7" columns="2"}}
                {{#if @first}}
				<div class="container">
					<div class="row">

                        <article class=" {{post_class}} col-lg-8 col-md-8 col-sm-12 col-xs-12"  style="height:auto;">
                            <header>
                                <div class="row">

                                {{#if image}}
                                    <a href="{{url}}" class="thumb hover-effect">
                                        <div class="col-lg-12 col-md-12 col-sm-12" style="background:url({{image}}); background-size:cover; background-repeat: no-repeat; position:static;">
                                        </div>
                                    </a>
                                {{else}}
                                    {{content words="0"}}
                                {{/if}}
                                </div>
                            </header>
                        </article>
					    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                            <div id="subscribe" class=" " style="background-color:#a6499b;">
                                {{#if @labs.subscribers}}
                                <div class="gh-subscribe">
                                    <h2 class="gh-subscribe-title" style="color: #FFF;margin-bottom: 30px;font-size: 38px; font-family:Playfair Display;"> Join our Family</h2>
                                    <p id="sub_share">Share Your Photos, Videos, and Stories with Millions of People From Planet Earth</p>
																		<div class="social-button fb-button">
																	    <a href="www.facebook.com">
																	      <span>Sign in with Facebook</span>
																	      <i class="fa fa-facebook-official" aria-hidden="true"></i>
																	    </a>
																	  </div>
																	  <div class="social-button tw-button">
																	    <a href="www.twitter.com">
																	      <span>Sign in with Twitter</span>
																	      <i class="fa fa-twitter" aria-hidden="true"></i>
																	    </a>
																	  </div>
																	  <div class="social-button in-button">
																	    <a href="www.instagram.com">
																	      <span>Sign in with Instagram</span>
																	      <i class="fa fa-instagram" aria-hidden="true"></i>
																	    </a>
																	  </div>
																	  <div class="social-button email-button">
																	    <a href="{{@blog.url}}/subscribe/">
																	      <span>Sign in with Email</span>
																	      <i class="fa fa-envelope" aria-hidden="true"></i>
																	    </a>
																	  </div>
                                </div>
                                {{/if}}

                            </div>

					    </div>
                  <div class="col-lg-6 col-md-6  ">
                        <span id="overlay_text" class="" style="position: relative; top: 220px;right:600px; z-index: 3;">
                            <h1 class="title" style="line-height:36px;"><a href="{{url}}"  style="color:#fff; ">{{{title}}}</a></h1>
                        </span>
                    </div>

          </div>

									  <div class="clear"></div>

                </div>
            </div>
            <div class="col-md-8">
                {{else}}
					<article class=" {{post_class}} {{#if @rowStart}} col-sm-6 col-xs-6{{/if}} {{#if @rowEnd}}  col-sm-6 col-xs-6{{/if}}" style="max-height:432px; margin-top:40px;">
						<header>
							{{#if image}}
								<a href="{{url}}" class="thumb hover-effect">
									<img src="{{image}}" style="">
								</a>
							{{else}}
								{{content words="0"}}
							{{/if}}
							<div class="meta">
								<div class="alignleft">

									<h2 class="title" ><a href="{{url}}">{{{title}}}</a></h2>
									<time datetime="{{date format="YYYY-MM-DD"}}"><i class="fa fa-clock-o"></i>{{date published_at timeago="true"}}</time>
								</div>
								<div class="clear"></div>
							</div>
						</header>
					<div class="post-excerpt" style="line-height:22px; color:#282828; font-weight:500;">
							{{excerpt words="20"}}...
						<a href="{{url}}" class="continue_reading" style="opactiy: .5;">Continue Reading</a>
							<i class="fa fa-angle-double-right"></i>
					</div>


						{{/if}}
					</article>

				{{else}}

					{{> default-article}}


			{{/foreach}}
            </div>
            <div class="col-md-4">
                <div class="ad-wrapper visible-lg visible-md hidden-xs" style="margin-top: 0;">
                    <div id="ad_4" class="">
                        <a href="" class="ads" target="_blank"><img src="{{asset "images/ad_2-300x250.png"}}" ></a>
                    </div>
                </div>
            </div>
        </div>




	<!-- end: .center -->


</main>
</div>
