<form method="post" action="{{action}}" class="{{form_class}}">
    {{! This is required for the form to work correctly }}
    {{hidden}}
  <!--<div>
    <div class="form-group{{#if error}} error{{/if}}" style="margin-left:50px;">
        {{input_email class=input_class placeholder="Your email address" value=email autofocus=autofocus}}
    </div>
  </div>-->
  <div class="social-button fb-button">
    <a href="www.facebook.com">
      <span class="desktop">Sign in with Facebook</span>
      <span class="mobile">Facebook</span>
      <i class="fa fa-facebook-official" aria-hidden="true"></i>
    </a>
  </div>
  <div class="social-button tw-button">
    <a href="www.twitter.com">
      <span class="desktop">Sign in with Twitter</span>
      <span class="mobile">Twitter</span>
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
  </div>
  <div class="social-button in-button">
    <a href="www.instagram.com">
      <span class="desktop">Sign in with Instagram</span>
      <span class="mobile">Instagram</span>
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
  </div>
  <div class="social-button email-button">
    <a href="">
      <span class="desktop">Sign in with Email</span>
      <span class="mobile">Email</span>
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </a>
  </div>
  <div style="text-align: center">

    <button class="{{button_class}} btn" type="submit">Subscribe</button>
  </div>
    {{! This is used to get extra info about where this subscriber came from }}
    {{script}}
</form>

{{#if error}}
    <p class="main-error">{{{error.message}}}</p>
{{/if}}
